
body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f4f7f9;
  color: #333;
}

.container {
  width: 95vw;
  max-width: 1560px;
  margin: 0 auto;
  padding: 20px;
}

.title{
  padding: 2px;
border-radius: 20px;
/* background: linear-gradient(145deg, #cacaca, #f0f0f0); */
/* box-shadow:  -5px 5px 32px #e6e6e6,
             5px -5px 32px #ffffff; */
box-shadow:  -5px 5px 32px #d1d1d1;
}

.title p{
  
justify-content: center;
text-align: center;
}

h1 {
  justify-content: center;
  text-align: center;
  color: #333; 
  margin-bottom: 30px;
}



.card-grid {
  display: grid;

  grid-template-columns: 1fr;
  gap: 25px; 
  padding: 10px;
}


@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}



.imovel-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.imovel-card:hover {
  transform: translateY(-5px); 
}


.card-image-placeholder {
  height: 180px;
  background-color: #e6f0ff; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #007bff;
}

.card-content {
  padding: 15px;
}

.card-content h2 {
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 5px;
  color: #333;
}

.bairro-cep {
  color: #777;
  font-size: 0.9em;
  margin-bottom: 15px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px dashed #eee;
}

.info-label {
  font-weight: 600;
  color: #555;
}

.price-highlight {
  color: #28a745; 
  font-weight: bold;
  font-size: 1.1em;
}

.financiamento-info {
  margin-top: 15px;
  padding: 10px;
  background-color: #fff3cd; 
  border-radius: 4px;
  text-align: center;
}
